{% extends 'Main/base.html' %}
{% load static %}

{% block style %}
@import url({% static 'Main/css/news.css' %});
{% endblock %}

{% block head %}
Новости по игре
{% endblock %}

{% block content %}
    <fieldset class="aq">
        <p class="dt">Время обновления: 20.01.22</p>
        <p class="dt">Сервер родился 15.12.2021</p>
        <p class="dt">Сайт родился 13.01.2022</p>
        <p class="op">- Здесь будет описание того, чего мы сделали.</p>
        <p class="op">- Проект делается уже месяц (Из которых 2 недели кодинга) (точнее, сервер), и всего полмесяца существует сайт.</p>
    </fieldset>
{% endblock %}
