{% extends 'Forum/base.html' %}
{% load static %}

{% block style %}
@import url({% static 'Forum/css/forum.css' %});
{% endblock %}

{% block head %}
Объявления и вопросы
{% endblock %}

{% block content %}
<div>
    <div class="line_div">
        <div class="revert">
            <div class="aq">
                <div class="zago">
                    <h1> Разработка </h1>
                </div>
                <div>
                    <p class="textt">Я начал делать устройства. А несколько дней назад я переделал движение,
                    теперь всё работает отлично. Сделал продажу предметов, их стакование.</p>
                </div>
            </div>
            <div class="aq">
                <div class="zago">
                    <h1> Вы хотите помочь?</h1>
                </div>
                <div>
                    <p class="textt"> Нужно сделать конфиги: улучшение кораблей, количество дройдов на корабле.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="line_div">
        <div class="revert">
            <div class="aq">
                <div class="zago">
                    <h1> Планы </h1>
                </div>
                <div>
                    <p class="textt">Эффекты -> Устройства -> Оружие</p>
                </div>
            </div>
            <div class="aq">
                <div class="zago">
                    <h1> Вы хотите помочь?</h1>
                </div>
                <div>
                    <p class="textt"> Нужно сделать конфиги: улучшение кораблей, количество дройдов на корабле.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}