<!--<form action="" method="post">{% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input type="submit" value="Зарегистрировать">-->
<!--</form>-->

<html>
    <head>
        <title>Страница регистрации.</title>
<!--        <style>-->
<!--            @import "style.css" screen;-->
<!--            /*@import "stylephone.css" handheld;*/-->
<!--        </style>-->
    </head>
        <body>
            <form action="" id="reg">
                <fieldset>
                    <header><h1>Регистрация аккаунта.</h1></header>
                    <p><label for="user">Ваш никнейм.</label></p>
                    <p><details>
                        <p>- Длина его должна быть от 4 до 15 символов.</p>
                        <p>- Не может начинаться с цифры.</p>
                        <p>- Только буквы и цифры.</p>
                    </details></p>
                    <p><input type="text" name="user" required id="user"></p>
                    <p><label for="mail">Ваш e-mail.</label></p>
                    <p><input type="text" name="mail" required id="mail"></p>
                    <p><label for="pass">Ваш пароль.</label></p>
                    <p><details>
                        <p>- Длина его должна быть от 3 до 20 символов.</p>
                    </details></p>
                    <p><input type="text" name="pass" required id="pass"></p>
                    <p><input type="checkbox" name="gal1" id="gal1">
                    <label for="gal">Запомнить вас при в следующем входе.</label>
                    <p><button name="reg" form="reg">Зарегестрироваться.</button></p>
                </fieldset>
            </form>
            <form action="" id="log">
                <fieldset>
                    <header><h1>Вход в аккаунт.</h1></header>
                    <p><label for="user">Ваш никнейм.</label></p>
                    <p><input type="text" name="user" id="user"></p>
                    <p><label for="pass">Ваш пароль.</label></p>
                    <p><input type="text" name="pass" id="pass"></p>
                    <p><input type="checkbox" name="gal1" id="gal1">
                    <label for="gal">Запомнить вас при в следующем входе.</label>
                    <a href="">Забыли пароль?</a></p>
                    <p><button name="log" form="log">Войти.</button></p>
                </fieldset>
            </form>
        </body>
</html>