div.shift{
    background-color: var(--blue1);
    color: var(--blue3);
    position: relative;
    top: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

body{color: var(--blue3);}
h1, a{color: var(--blue4);}

.shift_left_div{
    position:relative;
    width: 86%;
    left: 7%;
}

.center_window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inp{
    background-color: var(--blue3);
    outline: none;
    border-radius: 5px;
    border: none;
    width: 100%;
}
input, label, a.forgot, h1{
    position: relative;
}

.forgot, .remember{font-size: var(--fontLittle);}

.butMiddle{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--blue3);
    outline: none;
    border-radius: 5px;
    border: none;
}

.backgroundReg{
    width: 600px;
    height: 380px;
}

.backgroundLog{
    width: 600px;
    height: 280px;
}

.revert{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button{
    height: 70px;
}
