{% extends 'Main/base.html' %}
{% load static %}

{% block style %}
@import url({% static 'Shop/css/shop.css' %});
{% endblock %}

{% block head %}
    StarWars Shop
{% endblock %}

{% block content %}
    <div class="conteiner shop">
        <div class="shop_item">
            <div  class="shop_item__name">Название vervreververververver rerverv revrever</div>
            <div  class="shop_item__image"><img src="{% static 'Shop/images/12_Main_XFregatArmored.png' %}" alt=""></div>
            <div  class="shop_item__states">
                <p>
                    <span>Точность:</span>
                    <span>95%</span>
                </p>
                <p>
                    <span>Броня:</span>
                    <span>1240</span></p>
                <p>
                    <span>Щит:</span>
                    <span>220</span></p>
                </p>
            </div>
            <div  class="shop_item__detail">Подробнее ►►►</div>
            <div  class="shop_item__price">Цена: 100$</div>
            <div  class="shop_item__buy middle">
                <a href="" class="btn btn4">КУПИТЬ</a>
            </div>
        </div>
    </div>
{% endblock %}