{% extends 'Main/base.html' %}
{% load static %}

{% block style %}
@import url({% static 'shop/css/shop.css' %});
{% endblock %}

{% block head %}
    StarWars Shop
{% endblock %}

{% block content %}
<form method="get">
    <div class="filter">
        <select name="item_type" onchange="this.form.submit()">
            {% for type in types %}
                <option value="{{ type.pk }}" {% if type.pk == select_type %} selected {% endif %}>{{ type.type_ru }}</option>
            {% endfor %}
        </select>
    </div>
</form>
    <div class="conteiner shop">
        {% for item in items %}
        <div class="shop_item">
            <div  class="shop_item__name">{{ item.name }}</div>
            <div  class="shop_item__image">
                <img src="{% static '' %}shop/images/items/{{ item.image }}" alt=""></div>
            <div  class="shop_item__states">
{#                    {% for name, value in item.items() %}#}
{#                    <p>#}
{#                        <span>{{ name }}</span>#}
{#                        <span>{{ value }}</span>#}
{#                    </p>#}
{#                    {% endfor %}#}
            </div>
            <div  class="shop_item__detail">Подробнее ►►►</div>
            <div  class="shop_item__price">Цена: {{ item.cost }}$</div>
            <div  class="shop_item__buy middle">
                <a href="" class="btn btn4">КУПИТЬ</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
