

*{border: none;}

.backavatar{
    background-color: var(--blue5); /* поставить --blue5  поставил, было --блие1*/
    color: var(--blue4);
    width: 20%;
    position: relative;
    left: 1%;
    float: left;
}
.ramka{
    background-color: var(--blue2);
    position: absolute;
    width: 6%;
    height: 6%;
    left: 6%;
    top: 16%;
}
.avatar{
    position: relative;
    left: 23%;
    background-color: var(--blue4);
    border-radius: 10px;
}
.paneltop{
    background-color: var(--blue1);
    color: var(--blue3);
    width: 72%;
    float: right;
}
.panelbottom{
    background-color: var(--blue1);
    color: var(--blue4);
    width: 72%;
    float: right;
    height: 78.6%;
}
button{
    background-color: var(--blue1);
    color: var(--blue3);
    position: relative;
    height: 7%;
    right: 1%;
}
button:hover{
    background-color: var(--blue2);
    color: var(--blue4);
}
button.active{
    background-color: var(--blue4);
    color: var(--blue1);
}
.statleft, .statright{cursor: default; color: var(--blue3);}
.statleft{text-align: left;color: var(--blue4);}
.statright{float: right;}

.nick{font-size: 110%;}
.id{font-size: 70%;}