@font-face {
    font-family: Robo;
    src: url(../fonts/robo.ttf);
}

*{
    font-family: Robo;
    letter-spacing: 1.5px;
}

.nav{
    background-color: rgb(10, 13, 29);
    overflow: hidden;
    top: 0%; left: 0%; right: 0%;
}
.nav a {
    float: left;
    color: rgb(184, 181, 221);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover{
    background-color: rgb(56, 62, 100);
    color: rgb(218, 217, 236);
}
.nav a.activ{
    background-color: rgb(218, 217, 236);
    color: rgb(12, 15, 31);
}

.nav a.SW{
    float: right;
}