{% load lineage %}
{% load static %}
<html>
<head>
    <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <style>
        @import url('{% static "Main/css/main.css" %}');
        @import url('{% static "Main/css/navigpanel.css" %}');{% block style %}{% endblock %}
        </style>
</head>

<body>
    <div class="main_menu">
        <div class="revert_menu">
            <div><a href="/main" class="revent_menu_title">STAR WARS</a></div>
            <div class="revent_menu_items">
                <div class="revent_menu_item {% ancestor '/main' %}"><a href="/main" > HOME </a></div>
                <div class="revent_menu_item {% ancestor '/forum' %}"><a href="/forum" > FORUM </a></div>
                <div class="revent_menu_item {% ancestor '/news' %}"><a href="/news">NEWS</a></div>
                <div class="revent_menu_item {% ancestor '/faq' %}" ><a href="/faq" >FAQ</a></div>
                <div class="revent_menu_item {% ancestor '/top' %}" ><a href="/top" >TOP</a>
                </div>
            </div>
        </div>


        <div class="revert_menu">
            {% if request.user.is_authenticated %}
            <div class='revent_menu_item'><a href="/download" class="{% ancestor '/download/' %}">DOWNLOAD</a></div>
            <div class='revent_menu_item'><a href="/account" class="{% ancestor '/account/' %}">ACCOUNT</a></div>
            <div class='revent_menu_item'><a href="/logout" class="{% ancestor '/logout/' %}">EXIT</a></div>
            {% else %}
            <div class='revent_menu_item'><a href="/login" class="{% ancestor '/login/' %}">LOGIN</a></div>
            <div class='revent_menu_item'><a href="/register" class="{% ancestor '/register/' %}">REGISTRATION</a></div>
            {% endif %}
        </div>
    </div>
    <div class="background">
        <div class="head_text">
            <h1 class="zag">{% block head %}{% endblock %}</h1>
        </div>
    </div>
    <div class="down">
        {% block content %}
        {% endblock %}
    </div>


    <script src='{% static "Main/js/func.js" %}'></script>
</body>

</html>