{% extends 'base/base.html' %}
{% load static %}

{% block style %}
@import url({% static 'reg/css/faq.css' %});
{% endblock %}

{% block content %}
        <h1 class="ss up">Различные вопросы на ответы</h1>
        <div>
            <fieldset class="ss aq">
                <p class="ask">- Ты ел сегодня?</p>
                <p class="ques">Да, конечно же</p>
            </fieldset>
        </div>
        <div>
            <fieldset class="back">

            </fieldset>
        </div>
        <div>
            <fieldset class="back2">

            </fieldset>
        </div>
{% endblock %}