{% extends 'Main/base.html' %}
{% load static %}

{% block style %}
@import url({% static 'Main/css/main.css' %});
{% endblock %}

{% block head %}
Добро пожаловать на StarWars!
{% endblock %}

{% block content %}
<p class="text">Многим знакомый проект возвращается к жизни! Однако, пока что, он все еще делается. На данном сайте вы можете следить за процессом и уже заранее зарегестрироваться! За новостями по игре вы можете сделить во вкладке News.</p>
<p class="donat">А также, вы можете помочь проекту <a href="">денюшкой)</a></p>
{% endblock %}


