<config>
<ipadress>127.0.0.1</ipadress>
<release>8</release>
<version>0.9.0.1</version>
<tcpPort>10010</tcpPort>
<clanLogosPath>http://localhost:50914/Site/images/clanlogos/accepted/</clanLogosPath>
<clanRequestsLogosPath>http://localhost:50914/Site/images/clanlogos/requested/</clanRequestsLogosPath>
<clanCreateURL>http://localhost:50914/Site/CreateClan.aspx</clanCreateURL>
<effectImagesPath>effects/</effectImagesPath>
<Vk_user_id>1656</Vk_user_id>
<Vk_auth_key>2</Vk_auth_key>
<Ok_user_id>3</Ok_user_id>
<Ok_auth_sig>4</Ok_auth_sig>
<Ok_session_key>5</Ok_session_key>
<Ok_session_secret_key>6</Ok_session_secret_key>
</config>