.zago{
    display: flex;
    font-size:var(--Middle);
    justify-content: center;
}
.textt{
    display:flex;
    width:95%;
    justify-content: center;
    font-size: var(--Middle2);
    float: right;
}
.aq{
    position: relative;
    background-color: var(--blue1);
    color: var(--blue4);
    border-radius: 10px;
    border: none;
    width: 30%;
}

.revert{
    display:flex;
    justify-content: space-around;
}

.line_div{
    height:250px;
}