@import url(vars.css);
@font-face {
    font-family: Robo;
    src: url(../fonts/robo.ttf);
}

*{
    text-align: left;
    background-size: 100%;
    line-height: 200%;
}

.background {
  background-image: url(../images/Максу1.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  position: relative;
}

.head_text{
      position: absolute;
      left: 20px;
      width: calc(100% - 20px);
      font-size: var(--BigText);
}

.down{
    margin-top: 1%;
}

h1{
    font-size: var(--BigText);
}

body{
    margin: 0px;
    bottom: 0px;
    background-color: var(--blue3);
    color: var(--blue1);
    font-size: var(--MiddleText);
}

a{
    color: var(--blue2);
    text-align: center;
}

nav, a, input, button{cursor: pointer;}

.zag{color: var(--blue4);}