@import url(vars.css);
@font-face {
    font-family: Robo;
    src: url(../fonts/robo.ttf);
}

*{

    font-size: 20px;
    text-align: left;
    background-size: 100%;
    font-size: 90%;
    line-height: 200%;
    z-index: 8888;
}

.back2{
    position: absolute;
    background-image: url(../images/Максу1.jpg);
    height: 1000px;
    top: -750px;
    z-index: -9999;
    left: 0%;
    right: 0%;
}
@media (max-width: 1100px) {
    .back2{
        position: absolute;
        background-image: url(../images/Максу1.jpg);
        height: 1000px;
        top: -770px;
        z-index: -9999;
        left: 0%;
        right: 0%;  
    }}

.up{
    margin-top: 15%;
}
h1{
    font-size: var(--Big);
}
body{
    background-color: var(--blue3);
    color: var(--blue1);
    font-size: var(--Middle);
}
a{
    color: var(--blue2);
}
nav, a, input, button{cursor: pointer;}

.zag{color: var(--blue4);}