@import url(vars.css);
@font-face {
    font-family: Robo;
    src: url(../fonts/robo.ttf);
}

.aq{
    background-color: var(--blue1);
    color: var(--blue4);
    border-radius: 10px;
    border: none;
}
.fieldset{width: 100%; padding-right:0px;}
.back2{
    position: fixed;
    background-image: url(../images/Максу1.jpg);
    height: 100%;
    width: 1300px;
    bottom: 25%;
    right: 1%;
    z-index: 1;
}
.back{
   position: absolute;
   right: 1%;
   width: 100%;
   height: 80vh;
   top: 27%;
   background-color: var(--blue3);
   z-index: 2;
}
.ss{position: relative; z-index: 3;}
.up{color: var(--blue4); margin-top: 15%;} 