.aq{
    position: relative;
    background-color: var(--blue1);
    color: var(--blue4);
    border-radius: 10px;
    border: none;
    width: 600px;
    top: -200px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.zago{
    display: flex;
    font-size:var(--Middle);
    justify-content: center;
}
.textt{
    display:flex;
    width:95%;
    justify-content: center;
    font-size: var(--Middle2);
    float: right;
}