/*just colors*/
:root {
    --blue1: rgb(10, 13, 29);
    --blue5: rgb(23, 26, 53);
    --blue2: rgb(56, 62, 100);
    --blue3: rgb(184, 181, 221);
    --blue4: rgb(218, 217, 236);

    /*
    --BigTitle: 40px;
    --MiddleTitle: 35px;
    --LittleTitle 30px;
    */

    --Big: 30px;
    --Middle: 25px;
    --Middle2: 20px;
    --Little: 10px;

    /*
    --BigText: 25px
    --MiddleText: 20px;
    --LittleText: 15px;
    */

}