/*just colors*/
:root {
    --blue1: rgb(10, 13, 29);
    --blue1_5: rgb(23, 26, 53);;
    --blue2: rgb(56, 62, 100);
    --blue3: rgb(184, 181, 221);
    --blue4: rgb(218, 217, 236);

    
    --BigTitle: 3em;
    --MiddleTitle: 2.5em;
    --LittleTitle: 2em;

    --BigText: 1.5em;
    --MiddleText: 1.1em;
    --LittleText: 0.8em;
   

}