d* {
    border: none;
}

body {
    margin: 0px;
    bottom: 0px;
}

.left_acc{
    width: 25%;
    height: 500px;
    background-color: var(--blue1);
    padding: 10px;
}

.right_acc{
    width: 60%;
    height: 500px;
    background-color: var(--blue1);
    padding: 10px;
}

.acc{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -250px;
}

.image_avatar{
    position: relative;
    left: 50%;
    transform: translate(-50%, 5%);
    background-color: var(--blue3);
    border-radius: 10%;
}

.avatar{
    position: relative;
    border-radius: 20%;
    width: 75%;
    height: auto;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.paneltop {
    background-color: var(--blue1);
    color: var(--blue3);
    width: 100%;
}

.panelbottom {
    background-color: var(--blue1);
    color: var(--blue4);
    width: 100%;
    height: auto;
}

.panelbottom_lk:not(:first-child) {
    display: none;
}

.butt {
    background-color: var(--blue1);
    color: var(--blue3);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: var(--MiddleText);
}

.butt:hover {
    background-color: var(--blue2);
    color: var(--blue4);
}

.butt.active {
    background-color: var(--blue4);
    color: var(--blue1);
}

.revert_div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.base_text{
    cursor: default;
    color: var(--blue3);
}

.statleft {
    text-align: left;
    align-items: center;
    color: var(--blue4);
}

.statright {
    align-content: center;
}

.main {
    font-size: var(--BigText);
    color: var(--blue4);
}
