@import url(vars.css);
@font-face {
    font-family: Robo;
    src: url(../fonts/robo.ttf);
}

.aq{
    background-color: var(--blue1);
    color: var(--blue4);
    border-radius: 10px;
    border: none;
}

.back{
   position: relative;
   width: 100%;
   height: 80px;
   top: 27%;
   background-color: var(--blue3);
   z-index: 2;

}
.ss{position: relative; z-index: 3;}
.up{color: var(--blue4); margin-top: 15%;} 