{% load lineage %}
{% load static %}
<html>
<head>
    <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <style>
        @import url('{% static "Main/css/alls.css" %}');
        @import url('{% static "Main/css/navigpanel.css" %}');{% block style %}{% endblock %}
        </style>
        <script src='{% static "Main/js/func.js" %}'></script>
</head>

<body>
    <div class="main_menu">
        <div class="revert_menu">
            <div><a href="/main" class="SW">STAR WARS</a></div>
            <div><a href="/main" class="{% ancestor '/main' %}">HOME</a></div>
            <div><a href="/forum" class="{% ancestor '/forum' %}">FORUM</a></div>
            <div><a href="/news" class="{% ancestor '/news' %}">NEWS</a></div>
            <div><a href="/faq" class="{% ancestor '/faq' %}">FAQ</a></div>
        </div>
        <div class="revert_menu">
            {% if request.user.is_authenticated %}
            <div class="revert_menu_link"><a href="/account" class="{% ancestor '/account/' %}">ACCOUNT</a></div>
            <div class="revert_menu_link"><a href="/logout" class="{% ancestor '/logout/' %}">EXIT</a></div>
            {% else %}
            <div class="revert_menu_link"><a href="/login" class="{% ancestor '/login/' %}">LOGIN</a></div>
            <div class="revert_menu_link"><a href="/register" class="{% ancestor '/register/' %}">REGISTRATION</a></div>
            {% endif %}
        </div>
    </div>
    <div class="background">
        <div class="head_text">
            <h1 class="zag">{% block head %}{% endblock %}</h1>
        </div>
    </div>
    <div class="down content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>