{% load lineage %}
{% load static %}
<html>
<head>
    <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <style>
        @import url('{% static "Main/css/alls.css" %}');
        @import url('{% static "Main/css/navigpanel.css" %}');{% block style %}{% endblock %}
        </style>
        <script src='{% static "Main/js/func.js" %}'></script>
</head>

<body>
    <div>
        <nav class="nav">
            <div>
                <a href="/main" class="SW">STAR WARS</a>
                <a href="/main" class="{% ancestor '/main' %}">HOME</a>
                <a href="/forum" class="{% ancestor '/forum' %}">FORUM</a>
                <a href="/news" class="{% ancestor '/news' %}">NEWS</a>
                <a href="/faq" class="{% ancestor '/faq' %}">FAQ</a>
            </div>
            <div class="menu_right">
            {% if request.user.is_authenticated %}
                <a href="/account" class="{% ancestor '/account/' %}">ACCOUNT</a>
                <a href="/logout" class="{% ancestor '/logout/' %}">EXIT</a>
            {% else %}
                <a href="/login" class="{% ancestor '/login/' %}">LOGIN</a>
                <a href="/register" class="{% ancestor '/register/' %}">REGISTRATION</a>
            {% endif %}
            </div>
        </nav>
    </div>
    <div class="background">
        <div class="head_text">
            <h1 class="zag">{% block head %}{% endblock %}</h1>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>