<html>
    <head>
        <meta charset="utf-8">
        <title>Добро пожаловать на StarWars!</title>
        <style>
            @import url(../../static/css/navigpanel.css);
            @import url(../../static/css/alls.css);
        </style>
    </head>
    <body>
        <nav class="nav">
            <a class="SW">STAR WARS</a> <a class="activ">Home</a> <a class="acc">Registration</a> 
        </nav>
        <h1 class="up">Добро пожаловать на StarWars!</h1>
        <p>Здесь текст про проект.</p>
        <p>Зарегистрироваться можно по ссылке выше.</p>
    </body>
</html>