{% extends 'main/base.html' %}
{% load static %}

{% block style %}
@import url({% static 'users/css/reg.css' %});
{% endblock %}

{% block content %}
    <div class="backgroundReg shift">
        <form method="post" id="reg">
            {% csrf_token %}
            <div>
                <div class="shift_left_div">
                    <div><h1>Регистрация аккаунта</h1></div>
                        {% for field in form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                <div>
<!--                                    <div><label for="id_password2">Показать пароль</label> <input id="pass3" type="checkbox" onclick="showpass()"></div>-->
                                    {{ field }}
                                </div>
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class='button'><button type="submit" class="butMiddle" form="reg">Зарегистрироваться</button></div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
